/* romain */
.logo {
	width: 10%;
}
html {
	background: linear-gradient(100deg, rgb(125,194,248), white) repeat-x;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

.formulaire {
	background-color: white;
	padding: 10px;
	margin: 1%;
}
.logoIndex {
	width: 20%;
	margin-left: 40%;
}

.input {
color: rgb(125,194,248);
}

/* trie des données */
.formulaireTrie {
	display : block;
	width : 50%;          /* on définit une largeur de 50% */
	margin : auto;        /* les marges se font automatiquement pour centrer l'élément */
	border-color: black;  /* le bord est de couleur noir */
}
fieldset {
	width: 70%;           /* on dimensionne les fieldset à 70% de largeur */
	margin: auto;		  /* les marges se font automatiquement pour centrer l'élément */
}
.infoSmallBlue {
	font-size: 0.8em;     /* la taille de police est réduite par rapport à sa taille normale */
	color: #1166B2;		  /* la police est de couleur bleu (#1166B2) */
}

/* Germain */
#middle{
	max-width:70%;
	margin: auto;
}	
#middle tbody tr td {
	padding-left: 15%;
}
#titre{
	font-size: 3em;
	
}	
#h2{

	font-size: 1.5em;

}	
.borderForm{
	border-radius:10px 10px;
	border:2px solid black;
	background-color: white;
}
.choixSelect{
	
	font-weight: bold;
	

}
legend{
	color: blue;
}


/* romain */
.logo {
	width: 125px;
}

.taille {
	font-size: 100px;
	color:red;
}


/** import */
.bodyImport {
	margin-bottom: 0.8em;
}
.upload {
	position: relative;
  margin: auto;
  margin-bottom: 10%;
  width: 55%;
  height: 12em;
  border: 2px dashed #fff;
  
}
#lblFichCSV {
	margin-top: 0;
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 1.3em;
 
}
.lblFichCSV {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 2em;
	 z-index: 0;
}
#fieldsFiles {
	z-index: 1;
}
#fieldsFiles, #fieldsFiles div, #fieldsFiles div input {
	position: absolute;
	width: 100%;
	height: 100%;
}
.btnLarge {
	width: 100%;
}
#btnUpload {
	margin-top:14em;
}

.page {
        min-height: calc(100vh - 200px);
}